[main]
listen = ':10389'
bind_dn = 'login'
bind_passwd = 'test_passwd'
base_dn = 'ou=Users,dc=acidgo,dc=com'
base_en = 'sn'
base_query = 'select passwd from tb4 where sn = ?'
base_crypt = 'md5'
db_driver = 'mysql'
db_dsn = 'golang:password@tcp(192.168.66.31:3307)/testdb2'
